@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-shield{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/almanaquevasco/shield/background-shield.png');
    padding: 80px 20px 60px 20px;
    align-items: center;
    display: flex;

    @include md{
        padding: 80px 0px 60px 0px;
    }

    .shield{
        &-text{
            color: #FFF;
            &_toptitle{
                color: #C3281E;
                text-transform: uppercase;
                font-weight: 700;
                padding-bottom: 12px;
                font-size: 30px;
                margin-bottom: 0;
            }

            &_title{
                font-weight: 700;
                font-size: 40px;
                padding-bottom: 48px;

                @include md{
                    font-size: 55px;
                }
            }

            &_content{
                font-size: 20px;
                padding-bottom: 16px;
                text-align: justify;
                font-weight: 300;

                &:last-child{
                    padding-bottom: 0px;
                }
            }
        }
    }
    .shield-img_box{
        padding-bottom: 8px;
        padding-top: 16px;
        max-height: 300px;

        @include md{
            padding-top: 0px;
            max-height: 200px;
        }
    }
    .shield-title_box{
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
    }
}